.contact-confirm-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-confirm-navbar-interactive {
  background-color: #0060b9;
}
.contact-confirm-logo {
  color: #ffffff;
  text-decoration: none;
}
.contact-confirm-login {
  color: #0060b9;
  width: 109px;
  margin-right: 32px;
  background-color: rgba(217, 217, 217, 0);
}
.contact-confirm-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-confirm-links {
  flex: 1;
  width: 604px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.contact-confirm-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-confirm-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-confirm-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-confirm-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-confirm-register {
  color: #0060b9;
  width: 151px;
}
.contact-confirm-burger-menu {
  display: none;
}
.contact-confirm-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-confirm-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-confirm-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-confirm-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-confirm-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-confirm-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-confirm-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-confirm-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-confirm-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-confirm-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-confirm-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-confirm-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-confirm-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-confirm-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-confirm-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-confirm-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-confirm-footer {
  left: -12px;
  bottom: 9px;
  position: absolute;
  background-color: #ffffff;
}
.contact-confirm-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-confirm-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-confirm-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-confirm-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-confirm-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-confirm-icon14 {
  width: 24px;
  height: 24px;
}
.contact-confirm-container2 {
  top: 273px;
  left: 0px;
  right: 0px;
  width: 1200px;
  height: 163px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-confirm-icon16 {
  top: 81px;
  left: 540px;
  width: 120px;
  height: 88px;
  margin: auto;
  position: absolute;
}
.contact-confirm-text {
  text-align: center;
}
@media(max-width: 767px) {
  .contact-confirm-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-confirm-desktop-menu {
    display: none;
  }
  .contact-confirm-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-confirm-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-confirm-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-confirm-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-confirm-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-confirm-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-confirm-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-confirm-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-confirm-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .contact-confirm-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-confirm-mobile-menu1 {
    padding: 16px;
  }
  .contact-confirm-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-confirm-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-confirm-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
