.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-navbar-interactive {
  background-color: #0060b9;
}
.contact-logo {
  color: #ffffff;
  text-decoration: none;
}
.contact-login {
  color: #0060b9;
  width: 109px;
  margin-right: 32px;
  background-color: rgba(217, 217, 217, 0);
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  flex: 1;
  width: 604px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.contact-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-register {
  color: #0060b9;
  width: 151px;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-form {
  width: 771px;
  height: 701px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-container1 {
  top: 98px;
  left: 64px;
  width: 516px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-textinput {
  top: 0px;
  left: 0px;
  width: 569px;
  height: 51px;
  position: absolute;
}
.contact-textinput1 {
  top: 0px;
  left: 0px;
  width: 569px;
  height: 51px;
  position: absolute;
}
.contact-textinput2 {
  top: 0px;
  left: 0px;
  width: 569px;
  height: 51px;
  position: absolute;
}
.contact-textinput3 {
  top: 0px;
  left: 0px;
  width: 569px;
  height: 51px;
  position: absolute;
}
.contact-textinput4 {
  left: -1px;
  width: 569px;
  bottom: -69px;
  height: 51px;
  position: absolute;
}
.contact-container2 {
  top: 128px;
  left: 94px;
  width: 516px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-textinput5 {
  top: 106px;
  left: -30px;
  width: 571px;
  height: 377px;
  position: absolute;
}
.contact-text {
  color: rgb(24, 24, 24);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.contact-navlink {
  left: 544px;
  color: #ffffff;
  bottom: 30px;
  position: absolute;
  text-decoration: none;
  background-color: #1945ff;
}
.contact-footer {
  height: 281px;
  background-color: #ffffff;
}
.contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 100px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 100px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu1 {
    padding: 16px;
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
