.drills-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.drills-navbar-interactive {
  background-color: #0060b9;
}
.drills-logo {
  color: #ffffff;
  text-decoration: none;
}
.drills-login {
  color: #0060b9;
  width: 109px;
  margin-right: 32px;
  background-color: rgba(217, 217, 217, 0);
}
.drills-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.drills-links {
  flex: 1;
  width: 604px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.drills-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.drills-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.drills-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.drills-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.drills-register {
  color: #0060b9;
  width: 151px;
}
.drills-burger-menu {
  display: none;
}
.drills-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.drills-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.drills-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.drills-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.drills-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drills-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.drills-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.drills-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.drills-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.drills-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.drills-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.drills-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.drills-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.drills-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.drills-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.drills-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.drills-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 335px;
  height: 124px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.drills-text {
  font-size: 60px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-left: 60px;
  margin-right: 4px;
  vertical-align: middle;
}
.drills-dropdown-arrow {
  transition: 0.3s;
}
.drills-icon10 {
  fill: {"hasImages":false,"nodeIds":["TQ_T_ZNo0_QXZ"],"componentUIDLs":[{"name":"thq-dropdown","node":{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"div","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[{"type":"element","content":{"elementType":"thq-dropdown-toggle","semanticType":"div","name":"DropdownToggle","referencedStyles":{},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown-toggle"}},"style":{"fill":{"type":"static","content":"#595959"},"color":{"type":"static","content":"#595959"},"width":{"type":"static","content":"335px"},"display":{"type":"static","content":"inline-flex"},"alignItems":{"type":"static","content":"center"},"paddingTop":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}},"paddingLeft":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}},"paddingRight":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"paddingBottom":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}},"height":{"type":"static","content":"124px"}},"children":[{"type":"element","content":{"elementType":"text","semanticType":"span","referencedStyles":{},"abilities":{},"style":{"textAlign":{"type":"static","content":"center"},"marginRight":{"type":"static","content":"4px"},"verticalAlign":{"type":"static","content":"middle"},"fontStyle":{"type":"static","content":"normal"},"fontWeight":{"type":"static","content":"500"},"fontSize":{"type":"static","content":"60px"},"alignSelf":{"type":"static","content":"center"},"marginLeft":{"type":"static","content":"150px"}},"children":[{"type":"static","content":"Drill"}]}},{"type":"element","content":{"elementType":"thq-dropdown-arrow","semanticType":"div","name":"DropdownArrow","referencedStyles":{},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown-arrow"}},"style":{"transition":{"type":"static","content":"0.3s"}},"children":[{"type":"element","content":{"elementType":"icon","referencedStyles":{},"abilities":{},"attrs":{"viewBox":{"type":"static","content":"0 0 1024 1024"}},"style":{"width":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-size-size-small","fallback":""}},"height":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-size-size-medium","fallback":""}},"transition":{"type":"static","content":"0.3s"}},"children":[{"type":"element","content":{"elementType":"icon","semanticType":"path","referencedStyles":{},"abilities":{},"attrs":{"d":{"type":"static","content":"M426 726v-428l214 214z"}},"children":[]}}]}}]}}]}},{"type":"element","content":{"elementType":"thq-dropdown-list","semanticType":"ul","name":"DropdownList","referencedStyles":{},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown-list"}},"style":{"left":{"type":"static","content":"0%"},"width":{"type":"static","content":"max-content"},"zIndex":{"type":"static","content":"100"},"display":{"type":"static","content":"none"},"minWidth":{"type":"static","content":"100%"},"position":{"type":"static","content":"absolute"},"alignItems":{"type":"static","content":"stretch"},"transition":{"type":"static","content":"0.3s"},"borderColor":{"type":"static","content":"#D9D9D9"},"borderWidth":{"type":"static","content":"1px"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius4","fallback":""}},"flexDirection":{"type":"static","content":"column"},"listStyleType":{"type":"static","content":"none"},"backgroundColor":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-color-gray-white","fallback":""}},"listStylePosition":{"type":"static","content":"inside"}},"children":[{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[{"type":"element","content":{"elementType":"thq-dropdown-toggle","semanticType":"div","name":"DropdownToggle","referencedStyles":{"TQ_wSkzrTZ_3a":{"type":"style-map","content":{"conditions":[{"conditionType":"element-state","content":"hover"}],"mapType":"inlined","styles":{"fill":{"type":"static","content":"#fff"},"color":{"type":"static","content":"#fff"},"backgroundColor":{"type":"static","content":"#595959"}}}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown-toggle"}},"style":{"fill":{"type":"static","content":"#595959"},"color":{"type":"static","content":"#595959"},"width":{"type":"static","content":"100%"},"display":{"type":"static","content":"inline-flex"},"alignItems":{"type":"static","content":"center"},"paddingTop":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}},"transition":{"type":"static","content":"0.3s"},"paddingLeft":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius4","fallback":""}},"paddingRight":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"paddingBottom":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}}},"children":[{"type":"element","content":{"elementType":"text","semanticType":"span","referencedStyles":{},"abilities":{"link":{"type":"navlink","content":{"routeName":"Wrench"}}},"style":{"width":{"type":"static","content":"100%"},"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"flex"},"fontStyle":{"type":"static","content":"normal"},"fontWeight":{"type":"static","content":"500"},"fontSize":{"type":"static","content":"14px"},"textDecoration":{"type":"static","content":"none"}},"children":[{"type":"static","content":"Wrench "}]}}]}}]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[{"type":"element","content":{"elementType":"thq-dropdown-toggle","semanticType":"div","name":"DropdownToggle","referencedStyles":{"TQ_qDZHQrX6NW":{"type":"style-map","content":{"conditions":[{"conditionType":"element-state","content":"hover"}],"mapType":"inlined","styles":{"fill":{"type":"static","content":"#fff"},"color":{"type":"static","content":"#fff"},"backgroundColor":{"type":"static","content":"#595959"}}}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown-toggle"}},"style":{"fill":{"type":"static","content":"#595959"},"color":{"type":"static","content":"#595959"},"width":{"type":"static","content":"100%"},"display":{"type":"static","content":"inline-flex"},"alignItems":{"type":"static","content":"center"},"paddingTop":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}},"transition":{"type":"static","content":"0.3s"},"paddingLeft":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius4","fallback":""}},"paddingRight":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-unit","fallback":""}},"paddingBottom":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-space-space-halfunit","fallback":""}}},"children":[{"type":"element","content":{"elementType":"text","semanticType":"span","referencedStyles":{},"abilities":{"link":{"type":"navlink","content":{"routeName":"Shovels"}}},"style":{"width":{"type":"static","content":"100%"},"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"flex"},"fontStyle":{"type":"static","content":"normal"},"fontWeight":{"type":"static","content":"500"},"fontSize":{"type":"static","content":"14px"},"textDecoration":{"type":"static","content":"none"}},"children":[{"type":"static","content":"Shovel"}]}}]}}]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[]}},{"type":"element","content":{"elementType":"thq-dropdown","semanticType":"li","name":"Dropdown","referencedStyles":{"TQ_QgsC8ubJAO":{"id":"TQ_QgsC8ubJAO","type":"style-map","content":{"mapType":"project-referenced","referenceId":"list-item"}}},"abilities":{},"attrs":{"data-thq":{"type":"static","content":"thq-dropdown"}},"style":{"cursor":{"type":"static","content":"pointer"},"display":{"type":"static","content":"inline-block"},"position":{"type":"static","content":"relative"},"borderRadius":{"type":"dynamic","content":{"referenceType":"token","id":"--dl-radius-radius-radius2","fallback":""}}},"children":[]}}]}}]}}}],"components":{},"usedDesignTokens":{"--dl-space-space-halfunit":{"type":"static","content":"8px"},"--dl-radius-radius-radius2":{"type":"static","content":"2px"},"--dl-size-size-medium":{"type":"static","content":"96px"},"--dl-space-space-unit":{"type":"static","content":"16px"},"--dl-size-size-small":{"type":"static","content":"48px"},"--dl-color-gray-white":{"type":"static","content":"#FFFFFF"},"--dl-radius-radius-radius4":{"type":"static","content":"4px"}},"usedTextStyles":{},"usedClasses":{},"globals":{"settings":{"title":"exported component","language":"english"},"meta":[],"assets":[]},"assetNames":{}};
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  transition: 0.3s;
}
.drills-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 5px 5px 10px 0px #9f9f9f;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: rgba(0, 96, 185, 0.69);
  list-style-position: inside;
}
.drills-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.drills-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.drills-navlink {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.drills-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.drills-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.drills-navlink1 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.drills-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.drills-pricing {
  width: 892px;
  height: 1388px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.drills-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.drills-container02 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.drills-container03 {
  flex: 0 0 auto;
  width: 510px;
  height: 90px;
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: center;
}
.drills-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.drills-image1 {
  width: 104px;
  height: 100%;
  object-fit: cover;
  margin-right: 5px;
  padding-right: 0px;
}
.drills-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.drills-text01 {
  align-self: center;
  margin-bottom: 5px;
}
.drills-navlink2 {
  color: var(--dl-color-gray-white);
  width: 175px;
  height: 34px;
  margin-top: 25px;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(0, 96, 185);
}
.drills-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-card {
  height: 88px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.drills-container11 {
  width: 156px;
  height: 78px;
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.drills-text04 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.drills-text05 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.drills-navlink3 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #0060b9;
}
.drills-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.drills-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.drills-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-image2 {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.drills-container14 {
  flex: 0 0 auto;
  width: 510px;
  height: 90px;
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: center;
}
.drills-container15 {
  flex: 0 0 auto;
  width: auto;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.drills-image3 {
  width: 104px;
  height: 100%;
  object-fit: cover;
  margin-right: 5px;
  padding-right: 0px;
}
.drills-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.drills-text06 {
  align-self: center;
  margin-bottom: 5px;
}
.drills-navlink4 {
  color: var(--dl-color-gray-white);
  width: 175px;
  height: 34px;
  margin-top: 25px;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(0, 96, 185);
}
.drills-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-card1 {
  height: 88px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.drills-container22 {
  width: 156px;
  height: 78px;
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.drills-text09 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.drills-text10 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.drills-navlink5 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #0060b9;
}
.drills-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.drills-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.drills-container24 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-image4 {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.drills-container25 {
  flex: 0 0 auto;
  width: 510px;
  height: 90px;
  display: flex;
  align-self: flex-start;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: center;
}
.drills-container26 {
  flex: 0 0 auto;
  width: auto;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.drills-image5 {
  width: 100px;
  height: 108px;
  object-fit: cover;
  margin-right: 5px;
  padding-right: 0px;
}
.drills-container27 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.drills-text11 {
  align-self: center;
  margin-bottom: 5px;
}
.drills-navlink6 {
  color: var(--dl-color-gray-white);
  width: 175px;
  height: 34px;
  margin-top: 25px;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(0, 96, 185);
}
.drills-container29 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container30 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.drills-card2 {
  height: 88px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-white);
}
.drills-container33 {
  width: 156px;
  height: 78px;
  display: flex;
  min-width: 150px;
  align-items: center;
  flex-direction: column;
}
.drills-text14 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
}
.drills-text15 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
}
.drills-navlink7 {
  color: var(--dl-color-gray-white);
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #0060b9;
}
.drills-footer {
  background-color: #ffffff;
}
.drills-separator2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.drills-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.drills-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.drills-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.drills-icon14 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.drills-icon16 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .drills-navlink2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-text04 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .drills-navlink3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-navlink4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-text09 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .drills-navlink5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-navlink6 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-text14 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .drills-navlink7 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .drills-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-desktop-menu {
    display: none;
  }
  .drills-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drills-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .drills-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .drills-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .drills-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .drills-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .drills-pricing {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-card {
    width: 100%;
    flex-direction: column;
  }
  .drills-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-card1 {
    width: 100%;
    flex-direction: column;
  }
  .drills-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-card2 {
    width: 100%;
    flex-direction: column;
  }
  .drills-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .drills-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-container34 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .drills-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .drills-mobile-menu1 {
    padding: 16px;
  }
  .drills-pricing {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .drills-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-footer {
    padding: var(--dl-space-space-unit);
  }
  .drills-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .drills-container34 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
